html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: var(--papel);
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}

/* header */
.app-header {
  height: 64px;
  background: white;
  border-bottom: 1px solid #e5e5e5;
  flex-shrink: 0;
}

/* content */
.content-body {
  flex: 1;
  min-height: calc(100vh - 64px);
  padding: 24px;
  background-color: var(--papel);
  display: flex;
  flex-direction: column;
}

/* responsive */
@media (max-width:768px){

  .app{
    flex-direction: column;
  }

  .content-body{
    padding:16px;
  }
}